#about {
	min-height: 100vh;
	display: flex;
}

#about_left {
	background: #2B65EC; /*Ocean Blue*/
	background: #1F45FC; /*Blue Orchid*/
	background: #BDEDFF; /*Robin Egg Blue*/
	background: #2B60DE; /*Royal Blue*/
	background: #306EFF; /*Blue Ribbon*/
	background: #368BC1; /*Glacie Blue*/
	background: #38ACEC; /*Butterfly Blue*/
	background: #fbb917; /*Saphron*/
	width: 50%;
}

#about_tagline_container {
	padding: 300px 100px 30px 100px;
	text-align: center;
}

#about_tagline {
	color: #000000;
	font-size: 80px;
	padding: 20px;
	border-bottom: 1px dashed #000000;
	border-top: 1px dashed #000000;
	text-align: left;
}

#iderize_orange {
	position: absolute;
	bottom: 30px;
	right: 200px;
	width: 60%;
}

#about_why {
	padding: 30% 30px 0px 0px;
	text-align: right;
	position: relative;
}

#about_why_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: right;
	float: right;
}

#about_right {
	width: 50%;
}

#about_vision {
	background: #000000;
	background: #16161d;
	color: #ffffff;
	color: #ffffff;
	color: #c0c0c0;
	height: 50vh;
}

#about_vision_p, #about_values_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: left;
}

#about_values_p_link {
	padding: 20px 0px 0px 0px;
}

#about_values_p_link a {
	color: #16161d;
	text-decoration: none;
}

#about_values_p_link a:hover {
	color: #fbb917;
	text-decoration: none;
}

#about_vision_p_link {
	padding: 20px 0px 0px 0px;
}

#about_vision_p_link a {
	color: #c0c0c0;
	text-decoration: none;
}

#about_vision_p_link a:hover {
	color: #fbb917;
	text-decoration: none;
}

#about_vision_content {
	padding: 10% 0px 0px 30px;
}

#about_values {
	background: #ff0000; /*Red*/
	background: #b80f0a; /*Crimson*/
	background: #ffffff; /*Blonde*/
	height: 50vh;
}

#about_values_content {
	padding: 10% 0px 0px 30px;
}

h2 {
	font-size: 50px;
	color: #ffffff;
	z-index: 10;
	position: relative;
}

#vision_header {
	color: #161616;
}

@media only screen and (min-resolution: 200dpi)
{
	#about {
		display: unset;
	}

	#about_vision_p_link {
		display: none;
	}

	#about_values_p_link {
		display: none;
	}

	#about_why {
		float: unset;
		text-align: left;
		padding: 10% 0px 0px 30px;
		padding: 30px 30px 30px 30px;
	}

	#about_vision_content {
		padding: 30px 30px 30px 30px;
	}

	#about_values_content {
		padding: 30px 30px 30px 30px;
	}

	#about_why_p {
		float: unset;
		text-align: left;
	}

	#about_left {
		width: 100%;
	}

	#about_right {
		width: 100%;
	}

	#about_vision {
		height: unset;
		width: 100%;
	}

	#about_values {
		height: unset;
		width: 100%;
	}

	#iderize_orange {
		display: none;
	}

	#about_tagline_container {
		display: none;
	}
}
