#about {
	background: green;
	height: 100vh;
	display: flex;
}

#about_left {
	background: #2B65EC; /*Ocean Blue*/
	background: #1F45FC; /*Blue Orchid*/
	background: #BDEDFF; /*Robin Egg Blue*/
	background: #2B60DE; /*Royal Blue*/
	background: #306EFF; /*Blue Ribbon*/
	background: #368BC1; /*Glacie Blue*/
	background: #38ACEC; /*Butterfly Blue*/
	background: #fbb917; /*Saphron*/
	width: 50%;
}

#about_tagline_container {
	padding: 30% 30px 0px 0px;
}

#about_tagline {
	background: black;
	color: #ffffff;
	width: 50%;
	padding: 50px;
}

#about_why {
	padding: 40px 30px 0px 0px;
	text-align: right;
}

#about_why_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: right;
	float: right;
}

#about_right {
	background: blue;
	width: 50%;
}

#about_vision {
	background: #000000;
	background: #16161d;
	color: #ffffff;
	color: #ffffff;
	color: #c0c0c0;
	height: 50vh;
}

#about_vision_p, #about_values_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: left;
}

#about_values_p_link {
	padding: 20px 0px 0px 0px;
}

#about_values_p_link a {
	color: #16161d;
	text-decoration: none;
}

#about_values_p_link a:hover {
	color: #fbb917;
	text-decoration: none;
}

#about_vision_p_link {
	padding: 20px 0px 0px 0px;
}

#about_vision_p_link a {
	color: #c0c0c0;
	text-decoration: none;
}

#about_vision_p_link a:hover {
	color: #fbb917;
	text-decoration: none;
}

#about_vision_content {
	padding: 10% 0px 0px 30px;
}

#about_values {
	background: #ff0000; /*Red*/
	background: #b80f0a; /*Crimson*/
	background: #ffffff; /*Blonde*/
	height: 50vh;
}

#about_values_content {
	padding: 10% 0px 0px 30px;
}

h2 {
	font-size: 50px;
	color: #ffffff;
}

#vision_header {
	color: #161616;
}

@media screen and (max-width: 900px)
{
	#about {
		display: unset;
	}

	#about_tagline_container {
		display: none;
	}

	#about_vision_p_link {
		display: none;
	}

	#about_values_p_link {
		display: none;
	}

	#about_why {
		float: unset;
		text-align: left;
		padding: 10% 0px 0px 30px;
		padding: 30px 30px 30px 30px;
	}

	#about_vision_content {
		padding: 30px 30px 30px 30px;
	}

	#about_values_content {
		padding: 30px 30px 30px 30px;
	}

	#about_why_p {
		float: unset;
		text-align: left;
	}

	#about_left {
		width: 100%;
	}

	#about_right {
		width: 100%;
	}

	#about_vision {
		height: unset;
		width: 100%;
	}

	#about_values {
		height: unset;
		width: 100%;
	}
}
