#about {
	background: green;
	height: 100vh;
	display: flex;
}

#about_left {
	background: #1F45FC; /*Blue Orchid*/
	background: #2B60DE; /*Royal Blue*/
	background: #306EFF; /*Blue Ribbon*/
	background: #BDEDFF; /*Robin Egg Blue*/
	background: #2B65EC; /*Ocean Blue*/
	width: 50%;
}

#about_why {
	padding: 40% 30px 0px 0px;
	text-align: right;
}

#about_why_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: right;
	float: right;
}

#about_right {
	background: blue;
	width: 50%;
}

#about_vision {
	background: #000000;
	background: #16161d;
	color: #ffffff;
	color: #FBF6D9;
	height: 50vh;
}

#about_vision_p, #about_values_p {
	width: 500px;
	padding: 30px 0px 0px 0px;
	text-align: left;
}

#about_vision_content {
	padding: 10% 0px 0px 30px;
}

#about_values {
	background: #ff0000; /*Red*/
	background: #b80f0a; /*Crimson*/
	background: #FBF6D9; /*Blonde*/
	height: 50vh;
}

#about_values_content {
	padding: 10% 0px 0px 30px;
}

@media screen and (max-width: 900px)
{
	#about {
		display: unset;
	}

	#about_why {
		float: unset;
		text-align: left;
		padding: 10% 0px 0px 30px;
		padding: 30px 30px 30px 30px;
	}

	#about_vision_content {
		padding: 30px 30px 30px 30px;
	}

	#about_values_content {
		padding: 30px 30px 30px 30px;
	}

	#about_why_p {
		float: unset;
		text-align: left;
	}

	#about_left {
		width: 100%;
	}

	#about_right {
		width: 100%;
	}

	#about_vision {
		height: unset;
		width: 100%;
	}

	#about_values {
		height: unset;
		width: 100%;
	}
}
