#contact {
	background: #16161d;
	color: #ffffff;
	text-align: center;
}

#contact_container {
	padding: 100px 0px 100px 0px;
	display: inline-block;
}

#contact_left {
	text-align: left;
	width: 400px;
	float: left;

	border-right: 1px solid #ffffff;
}

#contact_vl {
	/*
	height: 100%;
	border-left: 2px solid white;
	float: left;
	display: inline-block;
	*/
}

#contact_right {
	text-align: right;
	width: 400px;
	float: left;
}

.contact_img {
	width: 20px;
	background: #ffffff;
	background: #16161d;
}

.contact_img_s {
	padding: 0px 10px 0px 0px;
	text-align: center;
	display: inline-block;
	width: 50px;
}

h3 {
	padding: 0px 0px 20px 0px;
}

#contact_img_phone {
	width: 13px;
}

#contact_img_location {
	width: 15px;
}

@media screen and (max-width: 900px)
{
	#contact_right {
		display: none;
	}

	#contact_left {
		border-right: unset;
	}
}
