#landing {
	background: #16161d;
	height: 100vh;

	color: #ffffff;
	text-align: center;
	position: relative;
}

#landing_container {
	padding: 20% 0px 0px 0px;
}

#landing_down_arrow {
	position: absolute;
	bottom: 50px;
	width: 100%;
}

.downarrow {
	width: 30px;
	background: #16161d;
}

h1 {
	font-size: 200px;
}

@media screen and (max-width: 900px)
{
	#landing_down_arrow {
		display: none;
	}
}
