#services {
	background: yellow;
	height: 100vh;

	text-align: center;
}

#services_container {
	padding: 20% 0px 0px 0px;
	text-align: center;
}

.service_indo {
	background: white;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	width: 400px;
	display: inline-block;
}
