#services {
	background: #16161d;
	min-height: 100vh;

	color: #FBF6D9;
	text-align: center;
}

#services_container {
	padding: 10% 0px 0px 0px;
	text-align: center;
}


#services_container_center {
	max-width: 1400px;
	text-align: left;
	margin: 0px auto;
}

.service_indo {
	background: #16161d;
	margin: 3px;
	padding: 20px;
	border: 1px;
	border-style: solid;
	border-color: #FBF6D9;
	width: 400px;
	height: 250px;
	display: inline-block;
	position: relative;
}

.services_p {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

h5 {
	padding: 0px 0px 50px 0px;
	font-size: 70px;
}

@media screen and (max-width: 900px)
{
	.service_indo {
		width: 90vw;
	}
}
