#services {
	background: #16161d;
	min-height: 100vh;

	color: #FBF6D9;
	text-align: center;
	position: relative;
}

#services_container {
	padding: 10% 0px 0px 0px;
	text-align: center;
}


#services_container_center {
	max-width: 1400px;
	text-align: left;
	margin: 0px auto;
}

.service_indo {
	background: #000000;
	background: #16161d;
	margin: 3px;
	padding: 20px;
	border: 1px;
	border-style: solid;
	border-color: #FBF6D9;
	width: 400px;
	height: 250px;
	display: inline-block;
	position: relative;
}

.services_p {
	display: none;
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.service_indo:hover { background: #16161d; }
.service_indo:hover { background: #2B65EC; }
.service_indo:hover { background: #368BC1; } /*Glacier Blue*/
.service_indo:hover { background: #38ACEC; } /*Butterfly Blue*/
.service_indo:hover { background: #fbb917; } /*Saphron*/
.service_indo:hover { color: #16161d; } /*Saphron*/

.service_indo:hover > .services_p { display: unset; }

#services_down_arrow {
	background: white;
	position: absolute;
	bottom: 50px;
	width: 100%;
	color: red;
}

h5 {
	padding: 0px 0px 50px 0px;
	font-size: 70px;
}

@media screen and (max-width: 900px)
{
	.service_indo {
		width: 90vw;
	}
}
